<div class="stat-title">Base Stats</div>

<div *ngFor="let stat of stats; trackBy: trackStat" class="stat-row">
    <div class="stat-name">{{ stat.name }}</div>
    <div class="stat-value stat-val-base">{{ stat.value }}</div>
    <div class="progress-bar">
        <div class="progress" [style.width.%]="(stat.value / stat.max) * 100"></div>
    </div>
    <div class="stat-value stat-val-min">{{ stat.min }}</div>
    <div class="stat-value stat-val-max">{{ stat.max }}</div>
</div>

<div class="stat-row">
    <div class="stat-name">Total</div>
    <div class="stat-value stat-val-base">{{ statTotal }}</div>
    <div></div>
    <div class="stat-value stat-val-min">Min</div>
    <div class="stat-value stat-val-max">Max</div>
</div>
