:host {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.loading-container {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: var(--accent-text-color);
    font-size: 1.5rem;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
    max-width: fit-content;
    height: fit-content;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
    gap: 1rem;
}

p {
    height: fit-content;
    margin: 0;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid var(--border-color);
    border-top-color: var(--accent-text-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
