.scroll-to-top {
    position: fixed;
    bottom: -60px;
    right: max(16px, env(safe-area-inset-right));
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--background-color);
    color: var(--text-color);
    border: var(--primary-color) 3px solid;
    box-shadow: 0 4px 8px var(--shadow-color), 0 6px 20px var(--shadow-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease, bottom 0.3s ease;
}

.scroll-to-top .material-icons {
    font-size: 28px;
}

.scroll-to-top.show:hover {
    opacity: 1;
    transform: scale(1.1);
}

.scroll-to-top.show {
    opacity: 1;
    transform: translateY(0);
    bottom: 80px;
}

.scroll-to-top.hide {
    opacity: 0;
    transform: translateY(100px);
    bottom: -60px;
}

@media (max-width: 480px) {
    .scroll-to-top {
        width: 40px;
        height: 40px;
        right: 12px;
    }

    .scroll-to-top .material-icons {
        font-size: 24px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .scroll-to-top {
        width: 44px;
        height: 44px;
        right: 16px;
    }

    .scroll-to-top .material-icons {
        font-size: 26px;
    }
}
