<div class="pokemon-navigator">
  <ng-container *ngIf="facing === 'left'; else rightTemplate">
    <mat-icon class="arrow">arrow_left</mat-icon>
    <div class="pokemon-info">
      <span class="pokemon-name">{{ getPokemonName() }}</span>
      <span class="pokemon-dex">#{{ pokemon.id }}</span>
    </div>
    <ng-container [ngTemplateOutlet]="imageTemplate"></ng-container>
  </ng-container>

  <ng-template #rightTemplate>
    <ng-container [ngTemplateOutlet]="imageTemplate"></ng-container>
    <div class="pokemon-info">
      <span class="pokemon-name">{{ getPokemonName() }}</span>
      <span class="pokemon-dex">#{{ pokemon.id }}</span>
    </div>
    <mat-icon class="arrow">arrow_right</mat-icon>
  </ng-template>

  <ng-template #imageTemplate>
    <div class="pokemonCard__img__container">
      <img class="pokemonCard__image" [src]="pokemonImage" [alt]="getPokemonName()" />
      <app-pokemon-bg-svg class="pokemonCard__bg"></app-pokemon-bg-svg>
    </div>
  </ng-template>
</div>
