<div class="pokemonCard">
    <div class="pokemonCard__id">Nr. @PokemonSpecies.Id</div>
    <div class="pokemonCard__img__container">
        <img class="pokemonCard__image" src="@GetOfficialArtwork(PokemonSpecies.Id)" alt="Default Pokemon" />
        <img class="pokemonCard__bg" src="/images/pokeball-for-card.svg" />
    </div>
    <div class="pokemonCard__text__container">
        <div class="pokemonCard__text">
            @{
                var englishName = PokemonSpecies.Names?
                .FirstOrDefault(x => x.Language?.Name == "en")?.Name;
            }
            @if (!string.IsNullOrEmpty(englishName))
            {
                @englishName
            }
            else
            {
                <span>Loading...</span>
            }
        </div>
        <div class="pokemonCard__text pokemonCard__generation">
            @if (!string.IsNullOrEmpty(PokemonSpecies.Generation?.Name))
            {
                @ParseGenerationName(PokemonSpecies.Generation.Name)
            }
        </div>
    </div>
</div>