@using Pokedex.Extensions;

<div class="pokemonCard" @onclick="NavigateToPokemonDetails">
    <div class="pokemonCard__id">
        Nr. @(PokemonSpecies.Id != 0 ? PokemonSpecies.Id.ToString() : "-")
    </div>

    <div class="pokemonCard__img__container">
        <img 
            class="pokemonCard__image initial-load"
            src="@GetPokemonImage(PokemonSpecies)"
            onerror="handleImageError(this)" 
        />
        <img 
            class="pokemonCard__bg" 
            src="/images/pokeball-for-card.svg" 
            alt="Pokeball Background" 
        />
    </div>

    <div class="pokemonCard__text__container">
        <div class="pokemonCard__text">
            @{
                var englishName = PokemonSpecies?.GetPokemonSpeciesNameByLanguage("en");
            }
            @if (!string.IsNullOrEmpty(englishName))
            {
                @englishName
            }
            else
            {
                <span>Loading...</span>
            }
        </div>

        <div class="pokemonCard__text pokemonCard__generation">
            @if (!string.IsNullOrEmpty(PokemonSpecies.Generation?.Name))
            {
                @ParseGenerationName(PokemonSpecies.Generation.Name)
            }
            else
            {
                <span>...</span>
            }
        </div>
    </div>
</div>

<script>
    function handleImageError(img) {
        img.src = '/images/egg.png';
        img.classList.add('shaking_egg');
    }

    function removeInitialLoad() {
        const images = document.querySelectorAll('.pokemonCard__image.initial-load');
        images.forEach(img => {
            setTimeout(() => img.classList.remove('initial-load'), 600);
        });
    }
</script>
