<div class="pokemonCard">
    <div class="pokemonCard__id">Nr. @(PokemonSpecies.Id != 0 ? PokemonSpecies.Id.ToString() : "-")</div>
    <div class="pokemonCard__img__container">
        <img class="pokemonCard__image initial-load"
             src="@GetOfficialArtwork(PokemonSpecies.Id)"
             alt="Default Pokemon"
             onerror="this.src='/images/egg.png'; this.classList.add('shaking_egg');" />
        <img class="pokemonCard__bg" src="/images/pokeball-for-card.svg" />
    </div>
    <div class="pokemonCard__text__container">
        <div class="pokemonCard__text">
            @{
                var englishName = PokemonSpecies.Names?
                .FirstOrDefault(x => x.Language?.Name == "en")?.Name;
            }
            @if (!string.IsNullOrEmpty(englishName))
            {
                @englishName
            }
            else
            {
                <span>Loading...</span>
            }
        </div>
        <div class="pokemonCard__text pokemonCard__generation">
            @if (!string.IsNullOrEmpty(PokemonSpecies.Generation?.Name))
            {
                @ParseGenerationName(PokemonSpecies.Generation.Name)
            }
        </div>
    </div>
</div>

<script>
    function removeInitialLoad() {
        document.querySelectorAll('.pokemonCard__image.initial-load').forEach(img => {
            setTimeout(() => {
                img.classList.remove('initial-load');
            }, 600);
        });
    }
</script>
