<app-expandable-section title="Breeding">

    <!-- Gender Distribution -->
    <div class="breeding-row">
        <span class="label">Gender Distribution</span>
        <ng-container *ngIf="pokemonSpecies && !getGenderDisplay().genderless; else genderlessBlock">
            <span class="breeding-gender-icons">
                {{ getGenderDisplay().male }}%
                <img class="male-icon" src="/images/male.png" alt="Male" />
                /
                {{ getGenderDisplay().female }}%
                <img class="female-icon" src="/images/female.png" alt="Female" />
            </span>
        </ng-container>
        <ng-template #genderlessBlock>
            <span>Genderless</span>
        </ng-template>
    </div>

    <!-- Growth Rate -->
    <div class="breeding-row growth-rate-row">
        <span class="label">Growth Rate</span>
        <a class="growth-rate"
            [routerLink]="['/growth-rate', getDescriptionByLanguage(pokemonSpecies?.pokemon_v2_growthrate?.pokemon_v2_growthratedescriptions)]">
            {{
            getDescriptionByLanguage(pokemonSpecies?.pokemon_v2_growthrate?.pokemon_v2_growthratedescriptions)
            }}
        </a>
    </div>

    <!-- Egg Cycles & Hatch Steps -->
    <div class="breeding-row" *ngIf="pokemonSpecies as species">
        <span class="label">Egg Cycles</span>
        <span class="breeding-egg-cycles">
            {{ getHatchInfo(species.hatch_counter).cycles }} cycles<br />
            <span class="breeding-muted">
                ({{ getHatchInfo(species.hatch_counter).steps | number }} steps)
            </span>
        </span>
    </div>

    <!-- Egg Groups -->
    <div class="breeding-row egg-groups-row">
        <span class="label">Egg Groups</span>
        <div class="egg-groups">
            <a *ngFor="let group of pokemonSpecies?.pokemon_v2_pokemonegggroups" class="egg-group"
                [routerLink]="['/egg-group', getNameByLanguage(group.pokemon_v2_egggroup.pokemon_v2_egggroupnames)]">
                {{ getNameByLanguage(group.pokemon_v2_egggroup.pokemon_v2_egggroupnames) }}
            </a>
        </div>
    </div>

    <!-- Baby Trigger Item -->
    <div class="breeding-row">
        <span class="label">Baby Trigger Item</span>
        <a class="baby-trigger-item" *ngIf="getBabyTriggerItem() as babyItem; else None"
            [routerLink]="['/item', babyItem.name]">
            {{ getNameByLanguage(babyItem.pokemon_v2_itemnames) }}
            <img *ngIf="babyItem.pokemon_v2_itemsprites?.[0]?.sprites?.default"
                [src]="babyItem.pokemon_v2_itemsprites[0].sprites.default" [alt]="babyItem.name" class="item-sprite" />
        </a>
        <ng-template #None>
            <span>None</span>
        </ng-template>
    </div>

    <!-- Habitat -->
    <div class="breeding-row">
        <span class="label">Habitat</span>
        <span class="habitat">
            {{ getNameByLanguage(pokemonSpecies?.pokemon_v2_pokemonhabitat?.pokemon_v2_pokemonhabitatnames)}}
        </span>
    </div>

</app-expandable-section>
