<app-expandable-section title="Moves" [(expanded)]="isExpanded">
  @if (isLoadingOptions) {
    <div class="moves-loading-overlay">
      <app-loading-spinner [inline]="true" message="Loading moves..."></app-loading-spinner>
    </div>
  } @else {
    <div class="moves-toolbar">
      <mat-icon class="toolbar-vg-icon">sports_esports</mat-icon>
      <app-version-select [groups]="versionSelectGroups" [selectedId]="selectedVgId"
        (selectionChange)="onVgChange($event)">
      </app-version-select>
      <label for="methodSelect" class="toolbar-label">Learn method</label>
      <select id="methodSelect" [ngModel]="selectedMethodId" (ngModelChange)="onMethodChange($event)">
        @for (m of methodOptions; track m) {
          <option [value]="m.id">{{ m.label }}</option>
        }
      </select>
    </div>
    <app-moves-table
      [rows]="(tableRows$ | async) ?? []"
      [isLoading]="isLoadingMoves"
      [showLearnCol]="true"
      [showTypeCol]="true"
      [learnColHeader]="learnColHeader"
      (rowClick)="onRowClick($event)">
    </app-moves-table>
  }

</app-expandable-section>
