<div class="dropdown-container" #searchContainer>
    <input 
      class="dex-searchbar"
      placeholder="Search for a Pokémon..."
      (focus)="showSearchDropdown()"
      (input)="handleSearchChange($event)"
    />
  
    <div *ngIf="showDropdown" @slideDropdown class="dex-search-dropdown">
      <div class="dex-search-dropdown-content">
        
        <div *ngIf="filteredPokemonSpecies.length; else noResults">
          <app-pokemon-search-item 
          [isSelectable]="false"
          [names]="getCategoryNames('Pokémon', 'en')"/>
          <app-pokemon-search-item 
          *ngFor="let species of filteredPokemonSpecies; trackBy: trackByPokemon"
          [names]="species.pokemon_v2_pokemonspeciesnames"
          endpoint="pokemon"
          [imageSrc]="GetPokemonOfficialImage(species.pokemon_v2_pokemons[0])"/>
        </div>
      </div>
      <ng-template #noResults>
        <div class="dropdown-item">No Pokémon found</div>
      </ng-template>
    </div>
  </div>
  