<mat-form-field class="search-container">
  <input
    matInput
    type="text"
    placeholder="Search through PokeWorld..."
    [formControl]="searchControl"
    [matAutocomplete]="auto"
  />

  <mat-autocomplete #auto="matAutocomplete">
    <mat-optgroup *ngIf="filteredPokemonSpecies.length" label="Pokémon">
      <mat-option *ngFor="let species of filteredPokemonSpecies; trackBy: trackByPokemon" [value]="species">
        <app-pokemon-search-item
          [names]="species.pokemon_v2_pokemonspeciesnames"
          endpoint="pokemon"
          [imageSrc]="GetPokemonOfficialImage(species.pokemon_v2_pokemons[0])">
        </app-pokemon-search-item>
      </mat-option>
    </mat-optgroup>
  </mat-autocomplete>
</mat-form-field>
