
.dex-searchbar {
    width: 25vw;
    height: 3rem;
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 2px 6px var(--shadow-color);
    transition: box-shadow 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.dex-searchbar:focus {
    border-color: var(--border-focus-color);
    box-shadow: 0 4px 12px var(--shadow-hover-color);
    outline: none;
    transform: scale(1.05);
}

.dex-searchbar:hover {
    box-shadow: 0 4px 12px var(--shadow-hover-color);
}

.dropdown-container {
    position: relative;
}

.dex-search-dropdown {
    position: absolute;
    top: calc(100%);
    left: 0;
    width: 100%;
    font-size: 1.2rem;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    background-color: white;
    max-height: 25rem;
    overflow-y: auto;
    z-index: 999;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    mask-image: radial-gradient(ellipse at center, white 99%, transparent 100%);
    -webkit-mask-image: radial-gradient(ellipse at center, white 99%, transparent 100%);
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
}

    .dropdown-item:hover {
        background-color: #f0f0f0;
    }

.dropdown-item-image {
    width: 28%;
    transform: perspective(1000px);
    filter: drop-shadow(0 4px 6px var(--pokemon-img-shadow-color));
    will-change: transform;
}

