
.dex-searchbar {
    width: 25vw;
    height: 3rem;
    padding: 10px;
    position: relative;
    font-size: 1.2rem;
    z-index: 100;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 2px 6px var(--shadow-color);
    transition: box-shadow 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.dex-searchbar:focus {
    border-color: var(--border-focus-color);
    box-shadow: 0 4px 12px var(--shadow-hover-color);
    outline: none;
    transform: scale(1.05);
}

.dex-searchbar:hover {
    box-shadow: 0 4px 12px var(--shadow-hover-color);
}

.dropdown-container {
    position: relative;
}

.dex-search-dropdown {
    position: absolute;
    top: calc(98%);
    left: 0;
    width: 100%;
    font-size: 1.2rem;
    border: 2px solid var(--border-color);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: white;
    max-height: 26.5rem;
    overflow-y: hidden; /* Hide the overflow at the main level */
    z-index: 90;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
}

.dex-search-dropdown-content {
    height: fit-content;
    max-height: 26.5rem;
    overflow-y: auto;
    border-radius: inherit;
}
