@import 'variables.css';

.pokedexOverview {
    display: grid;
    width: 85%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 2rem;
    margin: 2rem auto;
    background: linear-gradient(135deg, var(--background-color), #f9f9f9); /* Subtle gradient background */
    border-radius: 10px;
    box-shadow: 0 2px 6px var(--shadow-color); /* Subtle box shadow */
    border: 1px solid var(--border-color); /* Add border */
    animation: fadeIn 1s ease-in-out;
}

.dexSearch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 30vh;
    margin: 2vh auto;
    padding: 2rem;
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out;
}

.dexTitle {
    font-size: 8rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    -webkit-text-stroke: 0.3rem var(--title-color);
    text-align: center;
    text-shadow: 4px 4px 8px var(--title-shadow-color);
    margin-bottom: 1rem;
    font-weight: 900;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.separator-line {
    width: 90%;
    margin: 1rem auto;
    border: none;
    border-top: 5px solid var(--seperator-color); 
    background-color: unset;
    opacity: 1;
}

.dex-searchbar {
    width: 25vw;
    height: 2.5rem;
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 2px 6px var(--shadow-color); /* Subtle box shadow */
    transition: box-shadow 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.dex-searchbar:focus {
    border-color: var(--border-focus-color);
    box-shadow: 0 4px 12px var(--shadow-hover-color);
    outline: none;
    transform: scale(1.05); /* Slightly enlarge on focus */
}

.dex-searchbar:hover {
    box-shadow: 0 4px 12px var(--shadow-hover-color);
}
