@import 'variables.css';

:root {
    --pokedex-width: 85%;
}


.pokedexOverview {
    width: var(--pokedex-width);
    gap: 2rem;
    padding: 1rem;
    margin: 2rem auto;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

.placeholder-card {
    background-color: #f0f0f0;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 8px;
    flex: 1 1 calc(100% / 6);
    margin: 5px;
}


.row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin: 1rem 0;
    padding: 0 1rem;
    height: fit-content;
}

.row > .pokemonCard:not(:last-child) {
    margin-right: 1.4%;
}

.dexSearch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--pokedex-width);
    min-height: 30vh;
    margin: 2vh auto;
    padding: 1rem;
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out;
    background-color: var(--background-color);
    box-shadow: 0 2px 6px var(--shadow-color);
}

.dexTitle {
    font-size: 8rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    -webkit-text-stroke: 0.3rem var(--title-color);
    text-align: center;
    text-shadow: 4px 4px 8px var(--title-shadow-color);
    margin-bottom: 1rem;
    font-weight: 900;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*.seperator-line-wrapper {
    width: 85%;
    padding: 0.2rem;
    margin: 1rem auto;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 2px 6px var(--shadow-color);
    animation: fadeIn 1s ease-in-out;
}

.separator-line {
    width: 97%;
    margin: 1rem auto;
    border: none;
    border-top: 4px solid var(--seperator-color);
    background-color: var(--seperator-color);
    opacity: 1;
}*/

.dex-searchbar {
    width: 25vw;
    height: 3rem;
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 2px 6px var(--shadow-color);
    transition: box-shadow 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.dex-searchbar:focus {
    border-color: var(--border-focus-color);
    box-shadow: 0 4px 12px var(--shadow-hover-color);
    outline: none;
    transform: scale(1.05);
}

.dex-searchbar:hover {
    box-shadow: 0 4px 12px var(--shadow-hover-color);
}

.dropdown-container {
    position: relative;
}

.dex-search-dropdown {
    position: absolute;
    top: calc(100%);
    left: 0;
    width: 100%;
    font-size: 1.2rem;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    background-color: white;
    max-height: 25rem;
    overflow-y: auto;
    z-index: 999;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    mask-image: radial-gradient(ellipse at center, white 99%, transparent 100%);
    -webkit-mask-image: radial-gradient(ellipse at center, white 99%, transparent 100%);
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
}

    .dropdown-item:hover {
        background-color: #f0f0f0;
    }

.scroll-to-top {
    position: fixed;
    bottom: -10vh;
    right: 2vw;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: white;
    color: var(--text-color);
    border: none;
    box-shadow: 0 4px 8px var(--shadow-color), 0 6px 20px var(--shadow-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease, bottom 0.3s ease;
}

.scroll-to-top .material-icons {
    font-size: 2.7rem;
}

.scroll-to-top.show:hover {
    opacity: 1;
    transform: scale(1.1);
}

.scroll-to-top.show {
    opacity: 1;
    transform: translateY(0);
    bottom: 20px;
}

.scroll-to-top.hide {
    opacity: 0;
    transform: translateY(100px);
    bottom: -10vh;
}

.pokeball {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1),
                0 4px 8px rgba(0, 0, 0, 0.1),
                0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokemonCount {
    color: var(--accent-text-color);
    font-size: 1.8rem;
    background-color: var(--background-color);
    margin: 0 calc((100% - var(--pokedex-width)) / 2);
    width: fit-content;
    padding: 1rem;
    border-radius: 8px;
    font-family: "Exo 2", serif;
    box-shadow: 0 2px 6px var(--shadow-color);
    animation: fadeIn 1s ease-in-out;
}