@import 'variables.css';

.pokedexOverview {
    display: grid;
    width: 85%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 2rem;
    margin: 2rem auto;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 2px 6px var(--shadow-color);
    animation: fadeIn 1s ease-in-out;
}

.dexSearch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    min-height: 30vh;
    margin: 2vh auto;
    padding: 3rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out;
    background-color: var(--background-color);
    box-shadow: 0 2px 6px var(--shadow-color);
}

.dexTitle {
    font-size: 8rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    -webkit-text-stroke: 0.3rem var(--title-color);
    text-align: center;
    text-shadow: 4px 4px 8px var(--title-shadow-color);
    margin-bottom: 1rem;
    font-weight: 900;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.separator-line {
    width: 90%;
    margin: 1rem auto;
    border: none;
    border-top: 4px solid var(--accent-text-color);
    background-color: var(--accent-text-color);
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
}

.dex-searchbar {
    width: 25vw;
    height: 2.5rem;
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 2px 6px var(--shadow-color);
    transition: box-shadow 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.dex-searchbar:focus {
    border-color: var(--border-focus-color);
    box-shadow: 0 4px 12px var(--shadow-hover-color);
    outline: none;
    transform: scale(1.05);
}

.dex-searchbar:hover {
    box-shadow: 0 4px 12px var(--shadow-hover-color);
}

.scroll-to-top {
    position: fixed;
    bottom: -10vh;
    right: 2vw;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: white;
    color: var(--text-color);
    border: none;
    box-shadow: 0 4px 8px var(--shadow-color), 0 6px 20px var(--shadow-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease, bottom 0.3s ease;
}

.scroll-to-top .material-icons {
    font-size: 2.7rem;
}

.scroll-to-top:hover {
    opacity: 1;
    transform: scale(1.1);
}

.scroll-to-top.show {
    opacity: 0.8;
    transform: translateY(0);
    bottom: 20px;
}

.scroll-to-top.hide {
    opacity: 0;
    transform: translateY(100px);
    bottom: -10vh;
}

.pokeball {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1),
                0 4px 8px rgba(0, 0, 0, 0.1),
                0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokemonCount {
    border: 1px solid var(--border-color);
    color: var(--accent-text-color);
    font-size: 1.8rem;
    background-color: var(--background-color);
    margin: 0 7.2vw;
    width: fit-content;
    padding: 1rem;
    border-radius: 15px;
    font-family: "Exo 2", serif;
    box-shadow: 0 2px 6px var(--shadow-color);
    animation: fadeIn 1s ease-in-out;
}