:root {
    --primary-color: #1b6ec2;
    --primary-hover-color: #155a9c;
    --secondary-color: #006bb7;
    --secondary-hover-color: #004a8f;
    --border-color: rgba(38, 143, 255, 0.5);
    --border-focus-color: rgba(38, 143, 255, 0.8);
    --background-color: rgba(255, 255, 255, 0.8);
    --background-hover-color: rgba(255, 255, 255, 0.9);
    --text-color: #333;
    --pokemon-card-text-color: #004a8f;
    --error-color: #e50000;
    --valid-color: #26b050;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --pokemon-img-shadow-color: rgba(0, 0, 0, 0.6);
    --shadow-hover-color: rgba(0, 0, 0, 0.3);
    --title-color: rgba(38, 143, 255, 0.8);
    --title-shadow-color: rgba(0, 0, 0, 0.4);
    --input-border-color: #ccc;
    --input-focus-border-color: #258cfb;
    --input-focus-shadow-color: rgba(37, 140, 251, 0.5);
    --body-background-color: #F0F8FF;
}
