a{
    text-decoration: none;
    color: unset;
}

a:hover{
    color: unset;
}

.main-footer,
.main-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
    background: var(--background-color); /* Gradient background */
    color: black;
    height: 7vh;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-header{
    grid-area: header;
}

.main-footer{
    grid-area: footer;
}

.main-header h1 {
    margin: 0;
    margin-left: 1%;
    font-size: 2rem;
    font-family: "Exo 2", serif;
    font-weight: 800;
    color: var(--accent-text-color);
}

    .main-header h1:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }

.main-header h1 a {
    color: var(--accent-text-color)
}

:host {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-rows: auto 1fr auto;
}

.main-content {
    position: relative;
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;
}
