<!-- Simple Circle View -->
@if (simpleView) {
  <div class="pokemon-type simple" [ngStyle]="{'background-color': getTypeColor()}">
    <img class="type-icon" [src]="getTypeIcon()" [alt]="localizedTypeName" />
  </div>
}

<!-- Full Type Display -->
@if (!simpleView) {
  <div class="pokemon-type full" [ngStyle]="{'background-color': getTypeColor()}">
    <img class="type-icon" [src]="getTypeIcon()" [alt]="localizedTypeName" />
    <span class="type-name">{{ localizedTypeName }}</span>
  </div>
}
