::ng-deep mat-form-field {
    background-color: var(--background-color) !important;
    width: 100% !important;
    height: 100% !important;
}

::ng-deep .mdc-text-field {
    padding: 5px;
    border-radius: 10px !important;
    background-color: var(--interactive-bg-color) !important;
    border: 2px solid var(--border-color);
    box-shadow: 0 2px 6px var(--shadow-color);
    transition: border-color 0.3s ease;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

::ng-deep .mdc-text-field__ripple,
::ng-deep .mdc-text-field__ripple::before,
::ng-deep .mdc-text-field__ripple::after {
    background: none !important;
    opacity: 0 !important;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
    background: transparent !important;
    opacity: 0 !important;
}

::ng-deep .mdc-text-field:hover {
    background-color: var(--interactive-bg-hover) !important;
}

::ng-deep .mat-mdc-form-field.mat-focused .mdc-text-field {
    border-color: var(--border-focus-color);
    border-width: 2px;
}

::ng-deep .mat-mdc-form-field-infix {
    padding: 2% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

::ng-deep .mdc-line-ripple::before,
::ng-deep .mdc-line-ripple::after {
    display: none;
}

::ng-deep mat-option {
    background-color: var(--background-color) !important;
    padding: 0 !important;
}

::ng-deep .mat-mdc-option-active,
::ng-deep mat-option:hover {
    background-color: var(--background-hover-color) !important;
}

::ng-deep mat-option span {
    margin: 0 !important;
    width: 100%;
}

::ng-deep .mat-mdc-optgroup-label {
    background-color: var(--primary-color) !important;
    color: white;
    font-size: x-large !important;
}

::ng-deep .mat-mdc-autocomplete-panel {
    padding: 0 !important;
    max-height: 60vh !important;
    border: 2px solid var(--primary-color);
    background-color: var(--background-color) !important;
    border-top: none;
    border-radius: 5px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1) !important;
    overflow-y: auto !important;
}

::ng-deep .dark-theme .mat-mdc-optgroup-label {
    background-color: var(--dropdown-border-color);
}

::ng-deep .dark-theme .mat-mdc-autocomplete-panel {
    border: 2px solid var(--dropdown-border-color);
}

::ng-deep .mat-mdc-autocomplete-panel::-webkit-scrollbar {
    border-radius: 10px !important;
    background-color: var(--background-color);
}

::ng-deep .mat-mdc-autocomplete-panel::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}

::ng-deep .mat-mdc-input-element {
    color: var(--text-color) !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

@media (max-width: 480px) {
    ::ng-deep .mat-mdc-input-element {
        font-size: 0.8rem !important;
    }
}
