::ng-deep mat-form-field{
    background-color: var(--background-color) !important;
    width: 30vw !important;
}

::ng-deep .mdc-text-field {
    padding: 5px;
    border-radius: 10px;
    background-color: var(--background-color) !important;
    border: 2px solid var(--border-color);
    box-shadow: 0 2px 6px var(--shadow-color);
    transition: border-color 0.3s ease;
}

::ng-deep .mat-mdc-form-field.mat-focused .mdc-text-field {
    border-color: var(--border-focus-color);
    border-width: 2px;
}

::ng-deep .mdc-line-ripple::before,
::ng-deep .mdc-line-ripple::after {
    display: none;
}

::ng-deep mat-option{
    background-color: var(--background-color) !important;
    padding: 0 !important;
}

::ng-deep .mat-mdc-option-active, ::ng-deep mat-option:hover{
    background-color: var(--option-active) !important;
}

::ng-deep mat-option span{
    margin: 0 !important;
    width: 100%;
}

::ng-deep .mat-mdc-optgroup-label{
    background-color: var(--dropdown-border-color);
    color: white;
    font-size: x-large !important;
}

::ng-deep .mat-mdc-autocomplete-panel {
    padding: 0 !important;
    max-height: 60vh !important;
    border: var(--dropdown-border-color) 2px solid;
    background-color: var(--background-color) !important;
    border-top: none;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1) !important;
    overflow-y: auto !important;
}

::ng-deep .mat-mdc-autocomplete-panel::-webkit-scrollbar {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    background-color: var(--background-color);
}

::ng-deep .mat-mdc-autocomplete-panel::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}

::ng-deep .mat-mdc-input-element{
    color: var(--text-color) !important;
}