.lang-label {
    display: block;
    margin-bottom: 0.4rem;
    font-weight: 600;
    color: var(--text-color);
}

/* ──────────────────── Select Box ──────────────────── */
.lang-select {
    width: 100%;
    max-width: var(--general-width);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0 2px 4px var(--shadow-color);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 10px 5px;
    box-sizing: border-box;
}

.lang-select:hover {
    cursor: pointer;
    box-shadow: 0 0 0 3px var(--background-hover-color);
}

.lang-select:disabled {
    color: var(--text-color);
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: none;
}

.dark-theme .lang-select:disabled {
    color: var(--accent-text-color);
}

.lang-select:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--primary-color-light);
}
