:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
}

.pokedexOverview {
    width: var(--general-width);
    gap: 2rem;
    padding: 1rem;
    margin: 2rem auto;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

.placeholder-card {
    background-color: #f0f0f0;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 8px;
    flex: 1 1 calc(100% / 6);
    margin: 5px;
}


.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; /* Distribute items evenly */
    align-items: center;
    margin: 20px 0;
    padding: 0 1.5rem;
    height: fit-content;
    gap: 1.5rem;
    height: 350px;
}

.row > app-pokemon-card, .row > .pokemon-placeholder {
    flex: 1 1 calc(100% / 6); /* Distribute cards evenly, up to 6 per row */
    max-width: calc(100% / 6); /* Ensure they don’t grow too much */
}

.pokemon-placeholder{
    content: "";
}

.dexSearch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--general-width);
    min-height: 30vh;
    margin: 2vh auto;
    padding: 1rem;
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out;
    background-color: var(--background-color);
    box-shadow: 0 2px 6px var(--shadow-color);
}

.dexTitle {
    font-size: 8rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--background-color);
    -webkit-text-stroke: 0.3rem var(--title-color);
    text-align: center;
    text-shadow: 4px 4px 8px var(--title-shadow-color);
    margin-bottom: 1rem;
    font-weight: 900;
}

.pokeball {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1),
                0 4px 8px rgba(0, 0, 0, 0.1),
                0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokemonCount {
    color: var(--accent-text-color);
    font-size: 1.8rem;
    background-color: var(--background-color);
    margin-left: calc((100vw - var(--general-width) - 2rem) / 2);
    width: fit-content;
    padding: 1rem;
    border-radius: 8px;
    font-family: "Exo 2", serif;
    box-shadow: 0 2px 6px var(--shadow-color);
    animation: fadeIn 1s ease-in-out;
}