.pokemon-type {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 6px 12px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1rem;
    min-width: 90px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  }
  
  .type-icon {
    width: 18px;
    height: 18px;
  }

  .type-name{
    color: white;
  }

  .pokemon-type:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  