:host, .pokemon-placeholder {
    width: 15.5%;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    height: 100%;
    background-color: var(--glass-color);
    border: 2px solid var(--border-color);
    backdrop-filter: blur(1px);
    box-shadow: 0 4px 8px var(--shadow-color), 0 6px 20px var(--shadow-color);
    position: relative;
    overflow: hidden;
    transform: perspective(1000px) rotateX(0) rotateY(0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    padding: 0;
}

.pokemonCard__image {
    width: 90%;
    filter: drop-shadow(0 4px 6px var(--pokemon-img-shadow-color));
    z-index: 15;
    position: relative;
    will-change: transform;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

.pokemonCard__img__container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.pokemonCard__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 110%;
    height: auto;
}

.pokemonCard__id,
.pokemonCard__text {
    font-size: 1.5rem;
    text-align: center;
    word-wrap: anywhere;
    font-family: "Exo 2", serif;
    color: var(--accent-text-color);
}

.pokemonCard__image.pop-in {
    animation: popIn 0.4s ease-out;
}

@keyframes popIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.pokemonCard__id, .pokemonCard__text__container {
    background-color: var(--background-hover-color);
    width: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0 1px 5px var(--shadow-color));
    padding: 0.5rem 0;
    box-sizing: content-box;
}

.pokemonCard__text {
    font-weight: 700;
}

.pokemonCard__text.pokemonCard__generation {
    font-size: 1.2rem;
    font-weight: unset;
}

.pokemonCard__id {
    font-size: 1.2rem;
    margin-bottom: auto;
    border-radius: 0 0 10px 10px;
}

.pokemonCard__text__container {
    margin-top: auto;
    border-radius: 10px 10px 0 0;
}

:host::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
    transform: rotate(25deg) translateX(-100%);
    opacity: 0.5;
    pointer-events: none;
    transition: transform 0.5s ease;
    z-index: 1;
}

:host:hover {
    transform: perspective(1000px) scale(1.05) rotateX(8deg);
    cursor: pointer;
    transition: transform 0.5s ease;
    box-shadow: 0 8px 16px var(--shadow-hover-color), 0 12px 24px var(--shadow-hover-color);
}

.pokemonCard__image.initial-load:not(.shaking_egg) {
    animation: popUp 0.6s ease-out forwards;
}

@keyframes popUp {
    0% {
        transform: translateY(50px) scale(0.8);
        opacity: 0;
    }
    60% {
        transform: translateY(-10px) scale(1.1);
        opacity: 1;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

:host:hover .pokemonCard__image:not(.shaking_egg):not(.initial-load) {
    transform: translateY(5px) scale(1.1);
    transition: transform 0.5s ease;
    animation: floatUpDown 3s ease-in-out infinite;
    animation-delay: 0.5s;
}

@keyframes floatUpDown {
    0%, 100% {
        transform: translateY(5px) scale(1.1);
    }
    50% {
        transform: translateY(-5px) scale(1.1);
    }
}

:host:hover::before {
    transform: rotate(45deg);
    opacity: 0.8;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    75% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.shaking_egg {
    animation: shake 0.5s infinite;
    animation-timing-function: ease-in-out;
    width: 30%;
}

.hidden {
    display: none;
}

.shrink-away {
    animation: shrink-away 0.1s forwards;
}

@keyframes shrink-away {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.5);
      opacity: 0;
    }
}
