<div class="pokemonCard__id">
  Nr. {{ pokemonSpecies.id || '-' }}
</div>

<div class="pokemonCard__img__container">
  @if (showTypes && pokemonTypes.length > 0) {
  <div class="pokemonCard__typesWrapper" [class.visible]="eggGone" [class.hidden]="!eggGone">
    <div class="pokemonCard__typesTray">
      @for (pokemonTypeEntry of pokemonTypes; track $index) {
      <app-pokemon-type [pokemonType]="pokemonTypeEntry.type ?? pokemonTypeEntry" [simpleView]="true"
        [navigation]="false">
      </app-pokemon-type>
      }
    </div>
  </div>
  }

  <img #pokemonImage [src]="pokemonViewModel.image" (load)="onImageLoad()" (error)="handleImageError($event)"
    class="pokemonCard__image initial-load" [class.visible]="eggGone" [class.hidden]="!eggGone" />

  <img src="/images/egg.png" class="pokemonCard__placeholder shaking_egg" [class.shrink-away]="eggSwooping"
    [class.hidden]="eggGone" (animationend)="onEggAnimationEnd()" />

  <app-pokemon-bg-svg class="pokemonCard__bg"></app-pokemon-bg-svg>
</div>

<div class="pokemonCard__text__container">
  <div class="pokemonCard__text">
    {{ pokemonViewModel.name || 'Loading...' }}
  </div>

  <div class="pokemonCard__text pokemonCard__generation">
    {{ pokemonViewModel.generation || 'Loading...' }}
  </div>
</div>
