<div class="condition-row">
    <span class="condition-content">
        <span *ngIf="condition.prefix">{{ condition.prefix }}</span>

        <img *ngIf="condition.spriteUrl; else spriteBreak" [src]="condition.spriteUrl" [ngClass]="{
           'condition-icon': true,
           'gender-icon': condition.prefix === 'must be',
           'female-icon': condition.spriteUrl.includes('female'),
           'male-icon': condition.spriteUrl.includes('male')
         }" alt="condition sprite" />

        <ng-template #spriteBreak>
            <span>&nbsp;</span>
        </ng-template>

        <ng-container *ngIf="condition.entity">
            <ng-container *ngIf="condition.href; else plainEntity">
                <a [routerLink]="condition.href" class="evolution-link">{{ condition.entity }}</a>
            </ng-container>
            <ng-template #plainEntity>
                <span>{{ condition.entity }}</span>
            </ng-template>
        </ng-container>

        <span *ngIf="condition.suffix">{{ condition.suffix }}</span>
    </span>
</div>
