<div class="condition-row">
  <span class="condition-content">
    @if (condition.icon) {
      <mat-icon class="condition-mat-icon">{{ condition.icon }}</mat-icon>
    }

    @if (condition.prefix) {
      <span>{{ condition.prefix }}</span>
    }

    @if (condition.spriteUrl) {
            <img [src]="condition.spriteUrl" [ngClass]="{
      'condition-icon': true,
      'gender-icon': condition.spriteUrl!.includes('female.png') || condition.spriteUrl!.includes('male.png'),
      'female-icon': condition.spriteUrl!.includes('female'),
      'male-icon': condition.spriteUrl!.includes('male')
    }" alt="condition sprite" />
    } @else {
    }


    @if (condition.entity) {
      @if (condition.href) {
        <a [routerLink]="condition.href" class="evolution-link">{{ condition.entity }}</a>
      } @else {
        <span>{{ condition.entity }}</span>
      }
    }

    @if (condition.suffix) {
      <span>{{ condition.suffix }}</span>
    }
  </span>
</div>
