<app-loading-spinner message="Loading Pokémon details..." *ngIf="isLoading; else pokemonContent">
</app-loading-spinner>


<ng-template #pokemonContent>
  <!-- Navigation Buttons -->
  <div class="pokemon-nav-buttons" *ngIf="previousPokemonSpecies || nextPokemonSpecies">
    <div *ngIf="previousPokemonSpecies" class="nav-button">
      <app-pokemon-navigator [pokemon]="previousPokemonSpecies" facing="left"></app-pokemon-navigator>
    </div>
    <div *ngIf="nextPokemonSpecies" class="nav-button left">
      <app-pokemon-navigator [pokemon]="nextPokemonSpecies" facing="right"></app-pokemon-navigator>
    </div>
  </div>

  <!-- Main Content -->
  <div class="pokemon-main-view-container">
    <div class="pokemon-main-view">
      <!-- Left Side (Details) -->
      <div class="pokemon-main-view-left">
        <h1 class="pokemon-name">
          {{ getPokemonSpeciesName() }}
          <div *ngIf="isLegendaryOrMythicalOrBaby()" class="pokemon-status-badge"
            [attr.data-status]="getPokemonStatus(pokemonSpeciesDetails)">
            {{ getPokemonStatus(pokemonSpeciesDetails) }}
          </div>
        </h1>

        <!-- Pokémon Types -->
        <div class="types-container">
          <app-pokemon-type *ngFor="let type of selectedPokemon?.pokemon_v2_pokemontypes"
            [pokemonType]="type.pokemon_v2_type" [simpleView]="false">
          </app-pokemon-type>
        </div>

        <div class="pokemon-dex-entry">
          {{ getPokemonDexEntry() }}
        </div>

        <ul class="general-detail-list">
          <li>
            <label class="general-detail-label">Pokédex №</label>
            <div>#{{ pokemonSpeciesDetails?.id }}</div>
          </li>

          <li>
            <label class="general-detail-label">Introduced</label>
            <div>{{ getGenerationName(pokemonSpeciesDetails?.pokemon_v2_generation) }}</div>
          </li>

          <li>
            <label class="general-detail-label">Height</label>
            <div>{{ getFormattedHeight(selectedPokemon?.height) }}</div>
          </li>

          <li>
            <label class="general-detail-label">Weight</label>
            <div>{{ getFormattedWeight(selectedPokemon?.weight) }}</div>
          </li>

          <!-- Forms Dropdown -->
          <li>
            <label class="general-detail-label">Forms</label>
            <select id="variant-select" (change)="onPokemonChange($event)" [disabled]="!hasMultipleVariants()">
              <option *ngFor="let pokemon of pokemonSpeciesDetails?.pokemon_v2_pokemons || []" [value]="pokemon.id">
                {{ getPokemonVariantName(pokemon) }}
              </option>
            </select>
          </li>

          <!-- Abilities -->
          <li>
            <label class="general-detail-label">Abilities</label>
            <div class="ability-list">
              <div class="ability-container"
                *ngFor="let ability of selectedPokemon?.pokemon_v2_pokemonabilities; let i = index">
                <div class="ability-name">
                  {{ getAbilityText(ability, i) }}
                </div>
                <div class="ability-description">
                  {{ getAbilityFlavorText(ability.pokemon_v2_ability) }}
                </div>
              </div>
            </div>
          </li>

          <li>
            <label class="general-detail-label">Shape</label>
            <div>{{ getPokemonShapeName(pokemonSpeciesDetails?.pokemon_v2_pokemonshape) }}
            </div>
          </li>

          <li>
            <label class="general-detail-label">Color</label>
            <div>{{ getPokemonColorName(pokemonSpeciesDetails?.pokemon_v2_pokemoncolor) }}
            </div>
          </li>

          <li>
            <label class="general-detail-label">Pokémon Cries</label>
            <div class="cry-buttons">
              <button *ngIf="getLatestCryUrl()" (click)="playCry('latest')" class="cry-button latest">
                <mat-icon>volume_up</mat-icon>
                Latest Cry
              </button>

              <button *ngIf="getLegacyCryUrl()" (click)="playCry('legacy')" class="cry-button legacy">
                <mat-icon>volume_down</mat-icon>
                Legacy Cry
              </button>
            </div>
          </li>
        </ul>
      </div>

      <!-- Right Side (Sprite & Images) -->
      <div class="pokemon-main-view-right">
        <div class="pokemon-official-sprite-container">
          <div class="float-container">
            <img #pokemonImage class="pokemon-detail-img" [src]="selectedPokemonImage" [alt]="getPokemonSpeciesName()"
              (error)="selectedPokemonImage = '/images/placeholder.png'" (load)="onImageLoad()" />
          </div>
          <app-pokemon-bg-svg class="pokemonCard__bg detail"></app-pokemon-bg-svg>
        </div>

        <!-- Sprite Toggle Buttons -->
        <div class="sprite-buttons">
          <button [class.active]="!isShiny" (click)="onSpriteTypeChange(false)">
            Normal
          </button>
          <button [class.active]="isShiny" (click)="onSpriteTypeChange(true)">
            Shiny
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="pokemon-other-details">
    <app-pokemon-stats class="pokemon-stats" [pokemon]="selectedPokemon" />
    <app-pokemon-relations class="pokemon-relations" [pokemonTypes]="selectedPokemon?.pokemon_v2_pokemontypes"
      [allTypes]="allTypes" />
    <app-pokemon-training class="pokemon-training" [pokemon]="selectedPokemon" [species]="pokemonSpeciesDetails" />
    <app-pokemon-breeding class="pokemon-breeding" [pokemonSpecies]="pokemonSpeciesDetails" />
    <app-pokemon-evolutions class="pokemon-evolutions"
      [evolutionChain]="pokemonSpeciesDetails?.pokemon_v2_evolutionchain" [pokemonEvolutions]="pokemonEvolutions" />
  </div>
</ng-template>
