/* ──────────────────── Base Styles ──────────────────── */
:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  max-width: 100vw;
  gap: 1rem;
}

/* ──────────────────── Main View Container ──────────────────── */
.pokemon-main-view-container {
  display: flex;
  flex-direction: column;
  width: var(--general-width);
  background-color: var(--background-color);
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
  box-sizing: border-box;
}

/* ──────────────────── Main Layout ──────────────────── */
.pokemon-main-view {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  width: 100%;
}

.pokemon-main-view-left,
.pokemon-main-view-right {
  display: flex;
  flex-direction: column;
}

.pokemon-main-view-left {
  width: calc(55% - 2rem);
  color: var(--accent-text-color);
  font-size: 1.2rem;
}

.pokemon-main-view-left h1 {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  height: fit-content;
  margin: 0 0 0.5%;
  font-weight: 600;
  font-size: 4rem;
  position: relative;
  width: fit-content;
}

.pokemon-main-view-right {
  width: 45%;
  margin: 0 auto;
}

/* ──────────────────── Status Badge ──────────────────── */
.pokemon-status-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  font-size: 0.8rem;
  height: fit-content;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: var(--background-hover-color);
  color: var(--accent-text-color);
  box-shadow: 0px 2px 4px var(--shadow-color);
  user-select: none;
  position: absolute;
  right: -60px;
  top: -13px;
}

.dark-theme .pokemon-status-badge {
  box-shadow: 0px 2px 4px var(--shadow-hover-color);
}

/* ──────────────────── Sprite Container & Image ──────────────────── */
.pokemon-official-sprite-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--glass-color);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2),
    inset 0 -4px 10px rgba(255, 255, 255, 0.2);
}

.pokemon-detail-img {
  width: 100%;
  max-height: 95%;
  object-fit: contain;
  filter: drop-shadow(0 4px 6px var(--pokemon-img-shadow-color));
  position: relative;
  transition: transform 0.3s ease;
}

.pokemon-detail-img.pop {
  animation: popAnimation 0.3s ease;
}

@keyframes popAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.pokemonCard__bg.detail {
  width: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* ──────────────────── Floating Animation ──────────────────── */
.float-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 15;
  transform: translateY(5px);
  animation: floatUpDownNoScaling 3s ease-in-out infinite;
  animation-delay: 0.5s;
}

@keyframes floatUpDownNoScaling {

  0%,
  100% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-5px);
  }
}

/* ──────────────────── Navigation & Misc. ──────────────────── */
.pokemon-nav-buttons {
  display: flex;
  justify-content: space-between;
  width: var(--general-width);
  margin: 2rem auto;
  animation: fadeIn 1s ease-in-out;
  margin: 0 auto;
  margin-top: 1rem;
}

.nav-button.left {
  margin-left: auto;
}

app-pokemon-navigator {
  display: flex;
  width: 400px;
  height: fit-content;
}

/* ──────────────────── Select Box ──────────────────── */
select {
  width: 100%;
  max-width: var(--general-width);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0 2px 4px var(--shadow-color);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 10px 5px;
}

select:hover {
  cursor: pointer;
  box-shadow: 0 0 0 3px var(--background-hover-color);
}

select:disabled {
  color: var(--text-color);
  cursor: not-allowed;
  opacity: 0.5;
  box-shadow: none;
}

.dark-theme select:disabled {
  color: var(--accent-text-color);
}

select:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--primary-color-light);
}

/* ──────────────────── Sprite Buttons ──────────────────── */
.sprite-buttons {
  display: flex;
  gap: 0.5rem;
  width: 50%;
  margin: 0.8rem auto 0;
  position: relative;
  z-index: 800;
}

.sprite-buttons button {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--primary-color);
  transition: background-color 0.2s ease, color 0.2s ease;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.sprite-buttons button.active {
  background-color: var(--primary-color);
  color: var(--selected-color);
}

.sprite-buttons button:hover:not(.active) {
  background-color: var(--background-hover-color);
}

.sprite-buttons button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* ──────────────────── Details List ──────────────────── */
.pokemon-dex-entry {
  font-size: 1.5rem;
  border-radius: 10px;
  width: 100%;
}

.general-detail-list {
  list-style: none;
  width: 100%;
  margin: 1rem 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background-color);
  box-sizing: border-box;
}

.general-detail-list li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0.75rem 3px;
  border-bottom: 1px solid var(--seperator-color);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.general-detail-list li:last-child {
  border-bottom: none;
}

.general-detail-label {
  font-weight: 800;
}

.shape-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.shape-icon {
  width: 24px;
  height: 24px;
}

/* ──────────────────── Types & Abilities ──────────────────── */
.types-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1%;
  justify-content: flex-start;
}

.ability-list,
.ability-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.ability-container {
  margin-bottom: 1%;
}

.ability-name {
  font-weight: 800;
}

/* ──────────────────── Cries ──────────────────── */
.cry-buttons {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.cry-button {
  box-shadow: 0 2px 4px var(--shadow-color);
  padding: 4px 10px;
  font-weight: bold;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.cry-button.legacy {
  color: var(--accent-text-color);
}

.cry-button.latest {
  background-color: var(--primary-color);
  color: white;
}

.cry-button.legacy:hover {
  transform: scale(1.05);
  background-color: var(--background-hover-color);
}

.cry-button.latest:hover {
  transform: scale(1.05);
  background-color: var(--primary-hover-color);
}

.pokemon-other-details {
  width: var(--general-width);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0 auto 1rem;
  animation: fadeIn 1s ease-in-out;
  max-width: var(--general-width);
  align-items: stretch;
}

.pokemon-stats {
  grid-column: span 2;
}

.pokemon-training {
  grid-column: span 1;
}

.pokemon-evolutions {
  grid-column: span 3;
}

.pokemon-breeding {
  grid-column: span 1;
}

/* ──────────────────── Mobile Responsiveness ──────────────────── */
/* Extra Small Devices (up to 480px) */
@media (max-width: 480px) {
  :host {
    padding: 0.5rem;
  }

  .pokemon-main-view {
    flex-direction: column;
    flex-flow: column-reverse;
    justify-content: center;
    gap: 1rem;
  }

  .pokemon-main-view-container {
    padding: 1rem;
  }

  .pokemon-main-view-left,
  .pokemon-main-view-right {
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  .pokemon-main-view-left h1 {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  select {
    font-size: 0.85rem;
    padding: 0.4rem 0.8rem;
    background-position: right 0.8rem center;
  }

  .sprite-buttons button {
    font-size: 0.85rem;
    padding: 0.4rem;
  }

  app-pokemon-navigator {
    width: 280px;
  }

  .pokemon-nav-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .nav-button.left {
    margin-left: 0;
  }

  .cry-buttons {
    flex-direction: column;
  }

  .types-container {
    justify-content: center;
  }

  .pokemon-status-badge {
    position: relative;
    right: unset;
    top: unset;
    margin-bottom: 0.5rem;
  }

  .pokemon-dex-entry {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
  }

  .pokemon-other-details {
    grid-template-columns: 1fr;
  }

  .pokemon-stats,
  .pokemon-evolutions,
  .pokemon-training,
  .pokemon-breeding {
    grid-column: span 3
  }
}

/* Small Devices (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  :host {
    padding: 1rem;
  }

  .pokemon-main-view {
    flex-direction: column;
    flex-flow: column-reverse;
    gap: 1.5rem;
  }

  .pokemon-main-view-container {
    padding: 1.5rem;
  }

  .pokemon-main-view-left,
  .pokemon-main-view-right {
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  .pokemon-main-view-left h1 {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  select {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }

  .sprite-buttons button {
    font-size: 0.9rem;
    padding: 0.4rem;
  }

  app-pokemon-navigator {
    width: 500px;
  }

  .pokemon-nav-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .nav-button.left {
    margin-left: 0;
  }

  .cry-buttons {
    flex-direction: column;
  }

  .types-container {
    justify-content: center;
  }

  .pokemon-status-badge {
    position: relative;
    right: unset;
    top: unset;
    margin-bottom: 0.5rem;
  }

  .pokemon-dex-entry {
    text-align: center;
    margin-top: 1rem;
  }

  .pokemon-other-details {
    grid-template-columns: 1fr;
  }

  .pokemon-stats,
  .pokemon-evolutions,
  .pokemon-training,
  .pokemon-breeding {
    grid-column: span 3;
  }
}

/* Medium Devices (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .pokemon-main-view {
    flex-direction: row;
    gap: 1.5rem;
  }

  .pokemon-main-view-left {
    width: calc(55% - 1rem);
  }

  .pokemon-main-view-right {
    width: calc(45% - 1rem);
  }

  app-pokemon-navigator {
    width: 320px;
  }
}

/* Large Devices (1025px and up) */
@media (min-width: 1025px) {
  .pokemon-main-view {
    flex-direction: row;
    gap: 2rem;
  }

  .pokemon-main-view-left {
    width: calc(55% - 1rem);
  }

  .pokemon-main-view-right {
    width: 45%;
  }
}
