<app-expandable-section title="Defensive Matchups" [(expanded)]="isExpanded">
  <app-detail-table>
    @for (key of getRelationKeys(); track key) {
      <app-detail-row [label]="getLabel(key)">
        @if (relations[key]?.length) {
          @for (type of relations[key]; track type) {
            <app-pokemon-type [pokemonType]="type"
            [simpleView]="true"></app-pokemon-type>
          }
        } @else {
          <span>None</span>
        }
      </app-detail-row>
    }
  </app-detail-table>
  <button class="type-chart-button" (click)="openTypeChart()">Type Relations Chart</button>
</app-expandable-section>
