<app-expandable-section title="Defensive Matchups" [(expanded)]="isExpanded">
<app-detail-table>
    <app-detail-row *ngFor="let key of getRelationKeys()" [label]="getLabel(key)">
        <ng-container *ngIf="relations[key]?.length; else none">
            <app-pokemon-type *ngFor="let type of relations[key]" [pokemonType]="type"
                [simpleView]="true"></app-pokemon-type>
        </ng-container>
        <ng-template #none><span>None</span></ng-template>
    </app-detail-row>
</app-detail-table>
<button class="type-chart-button" (click)="openTypeChart()">Type Relations Chart</button>
</app-expandable-section>
