<app-loading-spinner 
  message="Loading Pokémon details..." 
  *ngIf="isLoading; else pokemonContent">
</app-loading-spinner>

<ng-template #pokemonContent>
  <!-- Navigation Buttons -->
  <div class="pokemon-nav-buttons" *ngIf="previousPokemonSpecies || nextPokemonSpecies">
    <div *ngIf="previousPokemonSpecies" class="nav-button">
      <app-pokemon-navigator [pokemon]="previousPokemonSpecies" facing="left"></app-pokemon-navigator>
    </div>
    <div *ngIf="nextPokemonSpecies" class="nav-button left">
      <app-pokemon-navigator [pokemon]="nextPokemonSpecies" facing="right"></app-pokemon-navigator>
    </div>
  </div>

  <!-- Main Content -->
  <div class="pokemon-main-view-container">
    <div class="pokemon-main-view">
      <!-- Left Side (Details) -->
      <div class="pokemon-main-view-left">
        <h1>{{ getPokemonSpeciesName() }}</h1>
        
        <!-- Pokémon Types -->
        <div class="types-container">
          <app-pokemon-type 
            *ngFor="let type of selectedPokemon?.pokemon_v2_pokemontypes"
            [pokemonType]="type.pokemon_v2_type">
          </app-pokemon-type>
        </div>

        <app-dex-entry [pokemonSpeciesDetails]="pokemonSpeciesDetails"></app-dex-entry>

        <ul class="general-detail-list">
          <li>
            <label class="general-detail-label">Pokédex №</label>
            <div>#{{ pokemonSpeciesDetails?.id }}</div>
          </li>

          <li>
            <label class="general-detail-label">Introduced</label>
            <div>{{ getGenerationName(pokemonSpeciesDetails?.pokemon_v2_generation?.pokemon_v2_generationnames) }}</div>
          </li>          

          <li>
            <label class="general-detail-label">Height</label>
            <div>{{ getFormattedHeight(selectedPokemon?.height) }}</div>
          </li>
          
          <li>
            <label class="general-detail-label">Weight</label>
            <div>{{ getFormattedWeight(selectedPokemon?.weight) }}</div>
          </li>

          <!-- Forms Dropdown -->
          <li>
            <label class="general-detail-label">Forms</label>
            <select 
              id="variant-select"
              (change)="onPokemonChange($event)"
              [disabled]="!hasMultipleVariants()">
              <option 
                *ngFor="let pokemon of pokemonSpeciesDetails?.pokemon_v2_pokemons || []"
                [value]="pokemon.id">
                {{ getPokemonVariantName(pokemon) }}
              </option>
            </select>
          </li>

          <!-- Abilities -->
          <li>
            <label class="general-detail-label">Abilities</label>
            <div class="ability-list">
              <div 
                class="ability-container" 
                *ngFor="let ability of selectedPokemon?.pokemon_v2_pokemonabilities; let i = index">
                <div class="ability-name">
                  {{ getAbilityText(ability, i) }}
                </div>  
                <div class="ability-description">
                  {{ getAbilityFlavorText(ability.pokemon_v2_ability) }}
                </div>
              </div>
            </div>
          </li>

          <li>
            <label class="general-detail-label">Shape</label>
            <div>{{ getPokemonShapeName(pokemonSpeciesDetails?.pokemon_v2_pokemonshape?.pokemon_v2_pokemonshapenames) }}</div>
          </li>
          
          <li>
            <label class="general-detail-label">Color</label>
            <div>{{ getPokemonColorName(pokemonSpeciesDetails?.pokemon_v2_pokemoncolor?.pokemon_v2_pokemoncolornames) }}</div>
          </li>          
        </ul>
      </div>

      <!-- Right Side (Sprite & Images) -->
      <div class="pokemon-main-view-right">
        <div class="pokemon-official-sprite-container">
          <div class="float-container">
            <img 
              #pokemonImage 
              class="pokemon-detail-img" 
              [src]="selectedPokemonImage" 
              [alt]="getPokemonSpeciesName()"
              (load)="onImageLoad()" />
          </div>
          <app-pokemon-bg-svg class="pokemonCard__bg detail"></app-pokemon-bg-svg>
        </div>        

        <!-- Sprite Toggle Buttons -->
        <div class="sprite-buttons">
          <button 
            [class.active]="!isShiny" 
            (click)="onSpriteTypeChange(false)">
            Normal
          </button>
          <button 
            [class.active]="isShiny" 
            (click)="onSpriteTypeChange(true)">
            Shiny
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
