<app-loading-spinner message="Loading Pokémon details..." *ngIf="isLoading; else pokemonContent"></app-loading-spinner>

<ng-template #pokemonContent>
  <div class="pokemon-nav-buttons" *ngIf="previousPokemonSpecies || nextPokemonSpecies">
    <div *ngIf="previousPokemonSpecies" class="nav-button">
      <app-pokemon-navigator [pokemon]="previousPokemonSpecies" facing="left"></app-pokemon-navigator>
    </div>
    <div *ngIf="nextPokemonSpecies" class="nav-button left">
      <app-pokemon-navigator [pokemon]="nextPokemonSpecies" facing="right"></app-pokemon-navigator>
    </div>
  </div>

  <div class="pokemon-main-view-container">
    <div class="pokemon-main-view">
      <div class="pokemon-main-view-left">
        <h1>{{ pokemonUtils.getPokemonSpeciesNameByLanguage(pokemonSpeciesDetails) }}</h1>
        <app-dex-entry [pokemonSpeciesDetails]="pokemonSpeciesDetails"></app-dex-entry>
        
        <ul class="general-detail-list">
          <li>
            <label class="general-detail-label">Pokédex №</label>
            <div>#{{pokemonSpeciesDetails?.id}}</div>
          </li>
          <li>
            <label class="general-detail-label">Forms</label>
            <select id="variant-select" (change)="onPokemonChange($event)">
              <option *ngFor="let pokemon of pokemonSpeciesDetails?.pokemon_v2_pokemons || []" [value]="pokemon.id">
                {{ pokemon.name }}
              </option>
            </select>
          </li>
        </ul>
      </div>      
      
      <div class="pokemon-main-view-right">
        <div class="pokemon-official-sprite-container">
          <img class="pokemon-detail-img" [src]="selectedPokemonImage" [alt]="pokemonUtils.getPokemonSpeciesNameByLanguage(pokemonSpeciesDetails)" />
          <app-pokemon-bg-svg class="pokemonCard__bg detail"></app-pokemon-bg-svg>
        </div>
        
        <div class="sprite-buttons">
          <button [class.active]="!isShiny" (click)="onSpriteTypeChange(false)">Normal</button>
          <button [class.active]="isShiny" (click)="onSpriteTypeChange(true)">Shiny</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
