<div *ngIf="facing === 'left'; else rightFacing" class="pokemon-navigator" (click)="navigateToDetails()">
    <!-- Material icon for left arrow -->
    <mat-icon class="arrow left">arrow_left</mat-icon>
    <div class="pokemon-name">{{ getPokemonName() }}</div>
    <div class="pokemonCard__img__container left">
      <img 
        class="pokemonCard__image initial-load"
        [src]="pokemonImage" 
        [alt]="getPokemonName()"/>
      <app-pokemon-bg-svg class="pokemonCard__bg"></app-pokemon-bg-svg>    
    </div>
  </div> 
  
  <ng-template #rightFacing>
    <div class="pokemon-navigator" (click)="navigateToDetails()">
      <div class="pokemonCard__img__container">
        <img 
          class="pokemonCard__image initial-load"
          [src]="pokemonImage" 
          [alt]="getPokemonName()"/>
        <app-pokemon-bg-svg class="pokemonCard__bg"></app-pokemon-bg-svg>    
      </div>
      <div class="pokemon-name">{{ getPokemonName() }}</div>
      <mat-icon class="arrow right">arrow_right</mat-icon>
    </div>   
  </ng-template>
  