<app-expandable-section title="Evolutions" [(expanded)]="isExpanded">
  <div class="evolution-chain">
    <div *ngFor="let path of evolutionPaths" class="evolution-row">
      <ng-container *ngFor="let species of path; let i = index">
        <!-- Evolution Cell -->
        <div class="evolution-cell">
          <!-- If species is defined -->
          <ng-container *ngIf="species">
            <app-pokemon-card [pokemon]="species.pokemons[0]" [pokemonSpecies]="species">
            </app-pokemon-card>

            <!-- Only show if any evolution has at least one condition -->
            <ng-container *ngIf="getPokemonEvolution(species.id) as evolutions">
              <div class="evolution-conditions" *ngIf="hasConditions(evolutions)">
                <ng-container *ngFor="let evo of evolutions; let i = index; let last = last">
                  <app-evolution-condition-display *ngFor="let condition of getEvolutionConditions(evo)"
                    [condition]="condition"></app-evolution-condition-display>
                  <hr *ngIf="!last" class="evolution-separator" />
                </ng-container>
              </div>
            </ng-container>

            <div *ngIf="!isMultiStage(path)" class="no-evolution-message">
              No evolutions
            </div>
          </ng-container>
        </div>

        <!-- Arrow between cards -->
        <ng-container *ngIf="i < path.length - 1">
          <svg class="arrow-icon" viewBox="0 0 24 24">
            <path d="m20 12-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8z"></path>
          </svg>
        </ng-container>
      </ng-container>
    </div>
  </div>
</app-expandable-section>
