<app-expandable-section [title]="'Training'">
    <ul class="training-list">
        <li>
            <label>EV Yield</label>
            <span>{{ evYield || 'None' }}</span>
        </li>
        <li>
            <label>Catch Rate</label>
            <span>{{ catchRate }} ({{ catchRatePercent }} with Pokéball, full HP)</span>
        </li>
        <li>
            <label>Base Happiness</label>
            <span>{{ baseHappiness }} ({{ happinessDescription }})</span>
        </li>
        <li>
            <label>Base XP</label>
            <span>{{ baseExp }}</span>
        </li>
        <li>
            <label>Held Items</label>
            <div>
                <ng-container *ngIf="heldItemsGrouped.length; else noItems">
                    <div class="held-item-line">
                        <app-held-item-display *ngFor="let item of heldItemsGrouped" [name]="item.name"
                            [rarity]="item.rarity" [iconUrl]="item.defaultIcon" [tooltip]="item.tooltip">
                        </app-held-item-display>
                    </div>
                </ng-container>
                <ng-template #noItems>
                    <span>None</span>
                </ng-template>
            </div>
        </li>
    </ul>
</app-expandable-section>
