@import './assets/styles/variables.css';

html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    font-family: "Exo 2", serif;
    color: var(--accent-text-color);
    transition:
        color 0.3s ease,
        background-color 0.3s ease,
        background 0.3s ease,
        border-color 0.3s ease,
        box-shadow 0.3s ease,
        filter 0.3s ease,
        fill 0.3s ease,
        stroke 0.3s ease;
}

body {
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    position: relative;
    background-color: var(--background-color);
}

*:focus-visible {
    outline-offset: 4px;
    outline: var(--primary-color) solid 2px;
    border: none
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url('../public/images/background-wave.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.dark-theme .background-image {
    background-image: url('../public/images/background-wave-dark.svg');
}

app-root {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

::-webkit-scrollbar {
    width: 15px;
    background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 5px;
    border: 3px solid transparent;
    background-clip: content-box;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
