:host {
    padding: 1rem;
    gap: 0.5rem;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

:host(.completed) {
    border: 3px solid var(--primary-color);
}

h2 {
    margin: 0;
    margin-right: auto;
    font-size: 2rem;
}

.pokemon-icon {
    width: var(--icon-sizing) !important;
    height: var(--icon-sizing) !important;
}

.pokemon-icons {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(var(--icon-sizing) - 15px)); /* Ensures strict 45px columns */
    justify-content: center;
    width: 100%;
    max-width: 100%;
}
