@page "/"
@rendermode InteractiveServer
@using Pokedex.Components.UI

<div class="dexSearch-container">
    <div class="dexTitle">PokéWorld</div>
    <input class="dex-searchbar" placeholder="Search for a Pokémon..." />
</div>

<div class="seperator-line-wrapper">
    <hr class="separator-line" />
</div>

<div class="pokemonCount">Select your Pokémon (@count)</div>

<div class="pokedexOverview">
    @if (!isLoading)
    {
        foreach (var pokemonSpecies in PokemonSpecies)
        {
            <PokemonCard PokemonSpecies="pokemonSpecies" />
        }
    }
</div>

<button class="scroll-to-top hide" @onclick="ScrollToTopAsync">
    <span class="material-icons">keyboard_arrow_up</span>
</button>


