@page "/"
@rendermode InteractiveServer
@using Pokedex.Components.UI

<div class="dexSearch-container">
    <div class="dexTitle">PokéWorld</div>
    <div class="dropdown-container" @ref="searchContainerRef">
        <input class="dex-searchbar"
               placeholder="Search for a Pokémon..."
               @onfocus="ShowDropdown"
               @oninput="HandleSearchChange" />

        @if (showDropdown)
        {
            <div class="dex-search-dropdown">
                @if (FilteredPokemonSpecies.Any())
                {
                    @foreach (var pokemon in FilteredPokemonSpecies)
                    {
                        <div class="dropdown-item" @onclick="() => SelectPokemon(pokemon.Name)">
                            <img src="@GetOfficialArtwork(pokemon.Id)"
                                 alt="@pokemon.Name"
                                 class="dropdown-item-image" />
                            <span class="dropdown-item-name">
                                @($"{char.ToUpper(pokemon.Name[0])}{pokemon.Name[1..]}")
                            </span>
                        </div>
                    }
                }
                else
                {
                    <div class="dropdown-item">No Pokémon found</div>
                }
            </div>
        }
    </div>
</div>

<div class="pokemonCount">
    Select your Pokémon (@count)
</div>

<div class="pokedexOverview">
    @if (!isLoading)
    {
        <Virtualize ItemsProvider="LoadPokemonSpeciesAsync" Context="speciesList" ItemSize="350">
            <ItemContent>
                <div @key="speciesList.RowId" class="row">
                    @foreach (var species in speciesList.PokemonSpecies)
                    {
                        <PokemonCard PokemonSpecies="species" />
                    }
                </div>
            </ItemContent>
            <Placeholder>
                <div class="row">
                    @for (int i = 0; i < 6; i++)
                    {
                        <PokemonCard PokemonSpecies="loadingSpecies" />
                    }
                </div>
            </Placeholder>
        </Virtualize>
    }
</div>

<button class="scroll-to-top hide" @onclick="ScrollToTopAsync">
    <span class="material-icons">keyboard_arrow_up</span>
</button>