@page "/pokemon/{speciesId:int?}"
@page "/pokemon/{speciesName}"

<h1>Pokémon Details</h1>

@if (pokemonSpeciesDetails == null)
{
    <p>Loading Pokémon details...</p>
}
else
{
    <div>
        <h2>@pokemonSpeciesDetails.SpeciesNames.First(x => x.Language.Name == "en").Name</h2>
        <p><strong>Description:</strong> @pokemonSpeciesDetails.FlavorTexts.First(x => x.Language.Name == "en" && x.Version.Name == "sun").FlavorText</p>
        <img src="@GetPokemonImage(selectedPokemon)" alt="@selectedPokemon.Name" style="width: 200px;" />
    </div>
}
