.pokemonCard {
    display: grid;
    align-items: center;
    width: 100%;
    min-height: 20rem;
    height: fit-content;
    /* Glass Effect */
    background-color: rgba(38, 143, 255, 0.3);
    border: rgba(38, 143, 255, 0.2) solid 3px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    box-shadow: 0 0 18px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    /* Transition for Hover */
    transform: perspective(1000px) rotateX(0) rotateY(0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokemonCard__image {
    width: 100%;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
    z-index: 2;
    position: relative;
    will-change: transform;
}

.pokemonCard__img__container {
    width: 80%;
    position: relative;
    margin: 0 auto;
}

.pokemonCard__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 130%;
    height: auto;
}

.pokemonCard__id,
.pokemonCard__text {
    font-size: 150%;
    text-align: center;
    word-wrap: anywhere;
    font-family: "Exo 2", serif;
}


.pokemonCard__id, .pokemonCard__text__container {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.5));
}

.pokemonCard__text{
    font-weight: 700;
}

.pokemonCard__text.pokemonCard__generation {
    font-size: 1.2rem;
    font-weight: unset;
}


.pokemonCard__id {
    font-size: 1.2rem;
    margin-bottom: auto;
}

.pokemonCard__text__container {
    margin-top: auto;
}

.pokemonCard::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
    transform: rotate(25deg) translateX(-100%);
    opacity: 0.5;
    pointer-events: none;
    transition: transform 0.5s ease;
    z-index: 1;
}

.pokemonCard:hover {
    transform: perspective(1000px) scale(1.05) rotateX(8deg);
    cursor: pointer;
}

.pokemonCard:hover .pokemonCard__image {
    animation: floatUpDown 3s ease-in-out infinite;
}

@keyframes floatUpDown {
    0% {
        transform: translateY(5px) perspective(1000px) scale(1.1); /* Start at the original position */
    }

    50% {
        transform: translateY(-5px) perspective(1000px) scale(1.1); /* Move up by 10px */
    }

    100% {
        transform: translateY(5px) perspective(1000px) scale(1.1); /* Return to the original position */
    }
}

.pokemonCard:hover::before {
    transform: rotate(45deg);
    opacity: 0.8;
}
