:host {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.expandable-header {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    transition: border-radius 0.4s ease;
}

:host.expanded {
    background-color: var(--background-color);
}

.expandable-header * {
    color: var(--primary-text-color);
}

.expandable-header:hover {
    cursor: pointer;
}

.expandable-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--accent-text-color);
}

.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.chevron-icon {
    display: inline-block;
    transition: transform 0.3s ease;
    font-size: 2rem;
    color: var(--accent-text-color);
    line-height: 1;
    padding: 0;
    margin: -0.8rem;
    display: inline-flex;
    user-select: none;
}

.chevron-icon.expanded {
    transform: rotate(180deg);
}

.expandable-body {
    overflow: hidden;
    padding: 1rem;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
    height: 100%;
}

/* ───────────── Responsive Font Sizes ───────────── */
@media (max-width: 480px) {
    .expandable-title {
        font-size: 1.5rem;
    }

    .chevron-icon {
        font-size: 2.5rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .expandable-title {
        font-size: 1.75rem;
    }

    .chevron-icon {
        font-size: 3rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .expandable-title {
        font-size: 1.9rem;
    }

    .chevron-icon {
        font-size: 3rem;
    }
}

@media (min-width: 1025px) {
    .expandable-title {
        font-size: 2rem;
    }

    .chevron-icon {
        font-size: 3.5rem;
    }
}
